<div class="wrapper">
	<div class="container">
		<div class="header">ADD NEW TODO</div>
		<form
			[formGroup]="todoForm"
			(ngSubmit)="addTodoItem(todoForm.value.title, todoForm.value.description)"
		>
			<div *ngIf="shouldShowTitleRequiredError()">Title is required</div>
			<mat-form-field class="form-field">
				<input
					matInput
					formControlName="title"
					type="text"
					id="title"
					placeholder="Title"
					required
				/>
			</mat-form-field>
			<mat-form-field class="form-field">
				<input
					formControlName="description"
					matInput
					id="description"
					placeholder="Description"
				/>
			</mat-form-field>
			<mat-divider></mat-divider>
			<div class="button-row">
				<button
					mat-raised-button
					color="accent"
					[routerLink]="['/list']"
				>
					Retour
				</button>
				<button
					#disabled
					mat-raised-button
					color="primary"
					type="submit"
					[disabled]="todoForm.invalid"
				>
					Submit
				</button>
			</div>
		</form>
	</div>
</div>
<div></div>
