.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-field {
    width: 100%
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 6px;
}

.button-row {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.title-required-error {
    color: red;
    font-size: 12px;
    margin: 6px;
}