<div class="wrapper">
	<div class="container">
		<div class="header">ADD A TASK</div>
		<form
			[formGroup]="todoForm"
			(ngSubmit)="addTodoItem(todoForm.value.title, todoForm.value.description)"
		>
			<div
				class="title-required-error"
				*ngIf="shouldShowTitleRequiredError()"
			>
				*Title is required
			</div>
			<div class="form-container">
				<mat-form-field class="form-field">
					<input
						matInput
						name="title"
						formControlName="title"
						type="text"
						placeholder="Title"
						required
					/>
				</mat-form-field>
				<mat-form-field class="form-field">
					<input
						matInput
						name="description"
						formControlName="description"
						type="text"
						placeholder="Description"
					/>
				</mat-form-field>
			</div>
			<mat-divider></mat-divider>
			<div class="button-row">
				<button
					mat-raised-button
					color="accent"
					[routerLink]="['/list']"
				>
					Retour
				</button>
				<button
					mat-raised-button
					color="primary"
					type="submit"
					[disabled]="todoForm.invalid"
				>
					Submit
				</button>
			</div>
		</form>
	</div>
</div>
