.list-item {
    cursor: pointer;

    &:hover {
        background-color: rgba(110, 110, 110, 0.1);
    }

    .strike {
        text-decoration: line-through;
    }

}

.button-row {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}