<div class="wrapper">
	<div class="container">
		<div class="header">TO - DO LIST</div>
		<mat-list>
			<mat-list-item
				*ngFor="let todo of todoList$ | async"
				class="list-item"
			>
				<mat-checkbox
					[(ngModel)]="todo.isCompleted"
					(change)="updateTaskPosition(todo)"
				>
					<span
						[routerLink]="['/todo', todo.id]"
						(click)="showTaskDetails(todo)"
						[ngClass]="{ strike: todo.isCompleted }"
					>
						{{ todo.title }}
					</span>
				</mat-checkbox>
			</mat-list-item>
		</mat-list>
		<mat-divider></mat-divider>
		<div class="button-row">
			<button
				[routerLink]="['/todo-new']"
				mat-raised-button
				color="primary"
			>
				Add
			</button>
		</div>
	</div>
</div>
